*~
*.pdf
*.root
*.pyc
__init__.py
data/
*__0.completed
*__0.sh
*__0.htc
tchatzis.cc
exe.sh
*err.*
*log.*
*out.*
*completed
*.sub
*.log
configDump.py
*USER_PROXY*
dataset.json
cfg.py
cmdLog
flag.done
flag.queue
*.pdf
*.png
*.jpg
*.jpeg
*.txt
__init__.py
test*/*
*.htc
*.err.*
*.log.*
*.out.*
*__*.sh
*__*.htc
*.completed
test*.py
log*
err*
out*
condor.sub
configDump*
*_old*
triggerEff*.C
ntuples